{
  "openai_api_key": "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "my_company": {
    "name": "My Awesome Company LLC",
    "vat": "123456789",
    "country": "USA",
    "address": "123 Main St, Anytown, USA"
  },
  "poppler_path_windows": "C:\\path\\to\\poppler-23.11.0\\Library\\bin",
  "poppler_path_mac": "/opt/homebrew/bin"
}
